
@{
    ViewBag.Title = "SuccessRegister";
}

<div class="card w-50 h-50 alert-success">
    <h3>Congratulations! You have registered in our system!</h3>
    <div class="card-footer">
        @Html.ActionLink("Back To Main Page", "Index", new { controller = "Home" }, new { @class = "btn btn-success" })
    </div>
</div>


